{% extends 'base.html' %}

{% block titre %} UEs {% endblock %}

{% block contenu %}
<h1 class="display-1">Liste des UEs proposées</h1>

<table class="table table-dark table-borderless table-sm">
	{% for ue in ues %}

	<tr>
		<td class="text-bg-dark fs-5"> {{ ue.titre }}</a> </td>

		<td class="btn-group">
			<a class="btn btn-primary" href="{% url 'ue' ue.id %}">Détails</a>
			{%if ue.id in permis%}
			<a class="btn btn-primary" href="{% url 'modif_ue' ue.id %}">Modifier</a>
			<a class="btn btn-danger" href="{% url 'suppr_ue' ue.id %}">Supprimer</a>
			{%endif%}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}